<div class="so-shell">
  <header role="banner" class="so-header">
    <app-skip-links />
    <a class="so-logo" routerLink="/" aria-label="Accueil Mobiliere">
      <img src="/assets/logo.png" alt="Logo Mobiliere" class="so-logo-image" />
      <h1>Mobiliere</h1>
    </a>
    <nav role="navigation" aria-label="Navigation principale">
      <ul class="so-nav">
        <li>
          <a routerLink="/" routerLinkActive="is-active" [routerLinkActiveOptions]="{ exact: true }"
            >Accueil</a
          >
        </li>
        <li>
          <a routerLink="/annonces/recherche" routerLinkActive="is-active">Annonces</a>
        </li>
        <li>
          <a routerLink="/agences/recherche" routerLinkActive="is-active">Agences</a>
        </li>
        <li>
          <a routerLink="/contact" routerLinkActive="is-active">Nous contacter</a>
        </li>
        <li>
          <a routerLink="/inscription" routerLinkActive="is-active">S'inscrire</a>
        </li>
        <li>
          <atomic-button-icon
            [icon]="currentTheme === 'dark' ? 'light_mode' : 'dark_mode'"
            label="Changer le theme"
            (click)="toggleTheme()"
          ></atomic-button-icon>
        </li>
        <li>
          <atomic-button-icon
            [icon]="isAccessible ? 'invert_colors_off' : 'invert_colors'"
            label="Activer le mode contraste accessible"
            (click)="toggleAccessible()"
          ></atomic-button-icon>
        </li>
      </ul>
    </nav>
  </header>

  <main role="main" class="so-main" id="so-main" tabindex="-1">
    <router-outlet></router-outlet>
  </main>

  <footer role="contentinfo" class="so-footer" id="so-footer" tabindex="-1">
    <ul class="flex gap-6">
      <li>
        <a
          routerLink="/mentions-legales"
          target="_blank"
          title="Mentions légales (nouvelle fenêtre)"
          rel="noopener noreferrer"
          >Mentions légales</a
        >
      </li>
      <li>
        <a routerLink="/plan-du-site" title="Plan du site">Plan du site</a>
      </li>
    </ul>
  </footer>
</div>
