.so-carousel {
  border: 1px solid var(--color-border-light);
  padding: 1rem;
  position: relative;
}

.so-carousel-track {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}

.so-slide {
  /* Reset des styles par défaut du lien */
  display: flex;
  flex-direction: column;
  gap:.5rem;
  text-decoration: none;
  color: inherit;
}

.so-slide:hover,
.so-slide:visited,
.so-slide:active {
  text-decoration: none;
  color: inherit;
}

.so-slide img {
  width: 100%;
  height: 10rem;
  object-fit: cover;
}

.so-carousel-prev,
.so-carousel-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.so-carousel-prev {
  left: 0.5rem;
}

.so-carousel-next {
  right: 0.5rem;
}

.so-carousel-pause {
  position: absolute;
  right: 1rem;
  bottom: 1rem;
}
