.listing-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 2rem 0;
  padding: 1.5rem;
  border: 1px solid var(--color-border-default);
  border-radius: 4px;
  background-color: var(--color-grey-800);
}

.info-item {
  display: flex;
  gap: 1rem;
  align-items: center;

  strong {
    min-width: 100px;
  }
}
